.PeopleList {
    background-color: rgb(18, 18, 68);
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}